/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../src/assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../src/assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
/* 其他自定义样式 */
html,body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yuzu-border {
  @apply rounded-2xl border-2 border-b-4 border-black;
}

.decorated-box {
  @apply relative;
}
.decorated-box:before {
  @apply content-[''] bg-[url("./assets/left-yuzu.png")] absolute w-10 h-10 bg-no-repeat bg-left bg-contain -left-6 bottom-6;
}
/* 左下第二个图 + 右上图 */
.decorated-box::after {
  @apply content-[''] bg-[url("./assets/logo.png")] w-[3.5rem] h-[3.5rem] absolute bg-no-repeat bg-left-bottom bg-contain -left-2.5 -bottom-8;
}

.decorated-div::after {
  @apply content-[''] bg-[url("./assets/right-yuzu.png")] w-12 h-12 absolute bg-no-repeat bg-right-top bg-contain -right-[18px] -top-[15px];
}
